<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='subjects.css') }}">
  <title>電気回路Ⅰ</title>
</head>

<header class="header">
  <div class="container">
    <h1 class="header-logo">
      <a href="{{ url_for('home') }}">Kyutech Uoodle216(2021) on Proken</a>
    </h1>
  </div>
</header>

<body>
  <div class="contents">
    <h1>電気回路Ⅰ(2021):電気電子および電気宇宙【03クラス】:Q01:火曜日5時限木曜日4時限(1)</h1>
    <hr>
    <div class="attendance" id="submit-attendance">
      <button class="button" onclick="window.alert('出席を確認しました！')">しゅっせきぃぃぃぃ</button>
    </div>
  </div>
  <div class="classtimes">第1回　電気回路とは</div>
  <input class="checkbox" type="checkbox">
  <div class="classtimes">第2回　電気回路とは</div>
  <input class="checkbox" type="checkbox">
  <div class="classtimes">第3回　電気回路とは</div>
  <input class="checkbox" type="checkbox">

  <footer>
    <div class="fotter"></div>
  </footer>
</body>

</html>